/* Login Page */

.login-container {
  margin-top: 4rem;
  font-family: 'Poppins', sans-serif;
}

.formBox {
  margin-top:6%;
  margin-bottom: 6%;
}

.login-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container img {
  height: auto;
  width: auto;
  max-width: 40rem;
  max-height: 40rem;
}

.logIn-button {
  opacity: 0.8;
}

.input-bg {
  background-color: #f3f3f3;
  color: #dbd5d5;
  font-size: 0.9rem;
  height: 2.9rem;
}

.signup-text {
  font-size: small;
}

.signup-text a {
  text-decoration: none;
}

.box-2 {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.or-head {
  width: 100%;
  border-bottom: 1px solid rgb(229, 219, 219);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.or-span {
  background: #fff;
  padding: 0 10px;
}





